<section class="vh-100" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <h3 class="mb-5">Sign Up</h3>
               <!-- ad soyad-->
             <div class="form-outline mb-4">
              <input type="text" id="typeEmailX-2" class="form-control form-control-lg" />
              <label class="form-label" for="typeNameX-2">ad soyad </label>
            </div>
            <!-- e mail-->
            <div class="form-outline mb-4">
              <input type="email" id="typeEmailX-2" class="form-control form-control-lg" />
              <label class="form-label" for="typeEmailX-2">Email</label>
            </div>
            <!--password-->
            <div class="form-outline mb-4">
              <input type="password" id="typePasswordX-2" class="form-control form-control-lg" />
              <label class="form-label" for="typePasswordX-2">Password</label>
            </div>
          <!--languages ​​you know  -->
         <!--   <div class="row">
                  <div class="col-md-3 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example1" class="form-control" />
                      <label class="form-label" for="form3Example1">First name</label>
                    </div>
                  </div>
                  <div class="col-md-3 mb-4">
                       <div class="form-check d-flex justify-content-start mb-4">
              <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
              <label class="form-check-label" for="form1Example3">Beginner </label>
            </div>
                  </div>
                  <div class="col-md-3 mb-4">
                       <div class="form-check d-flex justify-content-start mb-4">
              <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
              <label class="form-check-label" for="form1Example3">Beginner </label>
            </div>
                  </div>
                  <div class="col-md-3 mb-4">
                       <div class="form-check d-flex justify-content-start mb-4">
              <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
              <label class="form-check-label" for="form1Example3">Beginner </label>
            </div>
                  </div>
                </div>  -->
          <div class="row">
                    <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">
                        <div class="form-outline mb-4">
              <input type="text" id="typeEmailX-2" class="form-control form-control-lg" />
              <label class="form-label" for="typeNameX-2">Languages ​​you know </label>
            </div> 
                </div>
                    <div class="col-md-6">
                      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                   <option selected></option>
                   <option value="1">Beginner</option>
                   <option value="2">Intermediate</option>
                   <option value="3">Advanced</option>
                     </select>
                    </div>
                </div>
                <!--1-->
                <div class="row">
                    <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">
                        <div class="form-outline mb-4">
              <input type="text" id="typeEmailX-2" class="form-control form-control-lg" />
              <label class="form-label" for="typeNameX-2">Languages ​​you know </label>
            </div> 
                </div>
                    <div class="col-md-6">
                      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                   <option selected></option>
                   <option value="1">Beginner</option>
                   <option value="2">Intermediate</option>
                   <option value="3">Advanced</option>
                     </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">
                        <div class="form-outline mb-4">
              <input type="text" id="typeEmailX-2" class="form-control form-control-lg" />
              <label class="form-label" for="typeNameX-2">Languages ​​you know </label>
            </div> 
                </div>
                    <div class="col-md-6">
                      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                   <option selected></option>
                   <option value="1">Beginner</option>
                   <option value="2">Intermediate</option>
                   <option value="3">Advanced</option>
                     </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">
                        <div class="form-outline mb-4">
              <input type="text" id="typeEmailX-2" class="form-control form-control-lg" />
              <label class="form-label" for="typeNameX-2">Languages ​​you know </label>
            </div> 
                </div>
                    <div class="col-md-6">
                      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                   <option selected></option>
                   <option value="1">Beginner</option>
                   <option value="2">Intermediate</option>
                   <option value="3">Advanced</option>
                     </select>
                    </div>
                </div>
              <!--major  -->
             <div class="form-outline mb-4">
              <input type="text" id="typeEmailX-2" class="form-control form-control-lg" />
              <label class="form-label" for="typeRoadX-2">What is your software roadmap</label>

            </div>
           <!-- Checkbox -->
            <div class="form-check d-flex justify-content-start mb-4">
              <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
              <label class="form-check-label" for="form1Example3"> Remember password </label>
            </div>

            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>

        </div>
      </div>
    </div>
  </div>
</section>
