<header class="p-3 bg-light text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      

     <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center ms-3 mb-md-0">
         <li> <a class="blog-header-logo text-dark" asp-area="" asp-controller="Home" asp-action="Index">FindTeam</a> </li>
          </ul>
        <div class="text-end me-3">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center ms-3 mb-md-0"> 
   <li> <button type="button" class="btn btn-outline-light me-2 btn-secondary"><a asp-area="" asp-controller="Home" asp-action="SignIn">Login</a></button> </li>

      <li><button type="button" class="btn btn-warning"><a asp-area="" asp-controller="Home" asp-action="SignUp">Sign Up</a></button> </li>
           <li><a href="#" class="nav-link px-2 text-dark">Features</a></li>
          <li><a href="#" class="nav-link px-2 text-dark">Pricing</a></li>
          <li><a href="#" class="nav-link px-2 text-dark">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 text-dark">About</a></li>
            </ul>
        </div>
      </div>
    </div>
  </header>